<hr />

<div>
  <div class="row" *ngIf="json && json.id">
    <div class="col" style="background-color:#FFA833;">

      <div class="col-xs-6 margenPrincipal">

        <!-- Datos personales -->
        <app-identidad
          (cargarIdentidad) = recibirIdentidad($event)
        ></app-identidad>

        <!-- Perfil -->

        <!-- Aptitudes -->

        <!-- Programas -->

      </div>
    </div>

    <div class="col">

      <div class="col-xs-6 margenPrincipal">

        <!-- Estudios -->

        <!-- Experiencia -->

      </div>
    </div>
  </div>

</div>








<!-- <form>
  <select class="form-control form-control-lg" name="especialidad"
  [(ngModel)]="idEspecialidad" (ngModelChange)="cargarPersonas(idEspecialidad)">
    <option selected value='' disabled>Seleccione Especialidad</option>
    <option *ngFor="let ocupacion of especialidades ; let i=index"
    [(ngValue)]="1+i">{{ocupacion.carrera}}</option>
  </select>
</form>

<hr />

<form>
  <select n class="form-control form-control-lg" name="personas"
  [disabled]="!idEspecialidad" [(ngModel)]="id"
  (ngModelChange)="seleccionarPersonas($event)">
    <option selected value=null disabled>Seleccione Persona</option>
    <option *ngFor="let persona of captarPersonas; let indice=index"
    [(ngValue)]="persona.id">{{persona.datosPricipales.nombre}}</option>
  </select>
  <!-- <pre>{{captarPersonas | json}}</pre>
</form> -->
