<hr />

<div>
  <div class="row" *ngIf="json && json.id">
    <div class="col" style="background-color:#FFA833;">

      <div class="col-xs-6 margenPrincipal">

        <!-- Datos personales -->
        <app-identidad #appIdentidad
          [json] = "identidad"
        ></app-identidad>

        <!-- Perfil -->
        <app-perfil #appPerfil
          [json] = "perfil"
        ></app-perfil>

        <!-- Aptitudes -->
        <app-aptitudes #appAptitudes
          [json] = "aptitud"></app-aptitudes>

        <!-- Programas -->
        <app-programas #appProgramas
          [json] = "programa"></app-programas>

      </div>
    </div>

    <div class="col">

      <div class="col-xs-6 margenPrincipal">

        <!-- Estudios -->
        <app-estudios #appEstudios
          [json] = "estudio"></app-estudios>

        <!-- Experiencia -->
        <app-experiencia #appExperiencia
          [json] = "experiencia"></app-experiencia>

      </div>
    </div>
  </div>

</div>








<!-- <form>
  <select class="form-control form-control-lg" name="especialidad"
  [(ngModel)]="idEspecialidad" (ngModelChange)="cargarPersonas(idEspecialidad)">
    <option selected value='' disabled>Seleccione Especialidad</option>
    <option *ngFor="let ocupacion of especialidades ; let i=index"
    [(ngValue)]="1+i">{{ocupacion.carrera}}</option>
  </select>
</form>

<hr />

<form>
  <select n class="form-control form-control-lg" name="personas"
  [disabled]="!idEspecialidad" [(ngModel)]="id"
  (ngModelChange)="seleccionarPersonas($event)">
    <option selected value=null disabled>Seleccione Persona</option>
    <option *ngFor="let persona of captarPersonas; let indice=index"
    [(ngValue)]="persona.id">{{persona.datosPricipales.nombre}}</option>
  </select>
  <!-- <pre>{{captarPersonas | json}}</pre>
</form> -->
