<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">

  <div class="page-header main">
    <h1>{{titulo}}</h1>
  </div>

  <div name="seleccion">
    <app-seleccion
    (cargarDatos) = recibirPersona($event)
    ></app-seleccion>
  </div>

  <div name="cv_personas">

    <app-cv #appCv [json] = "infoPersona"></app-cv>

  </div>

</div>
